body {
    background-color: #f1f1f1;
    margin: 0;
}

h1 {
    color: #fff;
    font-family: Roboto, Arial, sans;
    font-weight: 300;
    margin-bottom: 0;
}

a,
a:hover {
    text-decoration: none;
}

section {
    margin: 3rem 0;
}

form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px #99999988;
    margin: auto;
    padding: 1.5rem 2rem;
    width: 25rem;
}

form p {
    margin-bottom: 0;
}

input {
    margin: 5px 0;
}

hr {
    margin: 2rem 0;
}


/* **************************
 *     NAVIGATION BAR
************************** */

nav {
    background-color: #4c6b84;
    display: flex;
    padding: 1rem 2rem;
}

nav ul {
    float: right;
    list-style: none;
    display: flex;
    margin: auto;
    margin-right: 0;
}

nav ul li {
    margin: auto 20px;
}

nav ul li a {
    color: #fff;
}